<!--app-navbar></app-navbar-->
<div class="titulo">
  <h1>Objetivos</h1>
  <img class="icone" src="assets/objetivos-marrom.png" alt="Ícone da Equipe">
</div>
<div class="overlay"></div>

<div class="container row justify-content-center">
    <div class="card col-sm-6" style="width: 18rem;">
      <img class="icon" src="assets/garantir-icon.png" alt="Icone de garantir">
        <div class="card-body ">
          <p class="card-text"><strong>Garantir</strong> o acesso de toda a população a um serviço educacional que proporcione aos estudantes o seu pleno desenvolvimento.</p>
        </div>
    </div>
    
    <div class="card col-sm-6" style="width: 18rem;">
      <img class="icon" src="assets/analisar-icon.png" alt="Icone de garantir">
        <div class="card-body">
          <p class="card-text"><strong>Analisar</strong> o cumprimento dos percentuais constitucionalmente definidos como mínimos para o investimento público em educação.</p>
        </div>
    </div>
    
    <div class="card col-sm-6" style="width: 18rem;">
      <img class="icon" src="assets/promover-icon.png" alt="Icone de garantir">
        <div class="card-body">
          <p class="card-text"><strong>Promover</strong> diversas iniciativas que fomentam a cultura de paz nas escolas, a diminuição dos índices de evasão escolar e a difusão dos direitos educacionais.</p>
        </div>
    </div>
</div>